<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/19a5df4eb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body class="body" bgcolor="#ebebeb">
    <header class="body__header">
        <div class="body__header__div--logo">
            <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        </div>
        <div class="body__header__div--buscador">
            <div class="body__header__div--buscador--margenes">
            <input type="text" placeholder="Buscar productos, marcas"><br>
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>                
            </div>

        </div>
        <p class="home__header--texto"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de credito</p class="home__header--texto">
        <nav>
            <div class="home__header__menu--menu">
            <ul class="home__header__nav--nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li> 
                <li><a href="">Vender</a></li> 
                <li><a href="">Ayuda</a></li>
             </ul>
             <ul class="home__header__nav--user">
                <li><a href="">Creá tu cuenta</a><i class=  "fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class= "fa-solid fa-right-to-bracket" ></i></li> 
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
             </ul>                
            </div>
        </nav>
        <div class="home__burger--menu">
            <i class="fa-solid fa-bars"></i>            
        </div>
    </header>



    <main class="main__login">

        <form action="">
            <div>
                <input type="text" placeholder="Nombre de usuario" name="nombre" id="nombre" minlength="2">
            </div>

            <div>
            <input type="password" placeholder="Contraseña" name="contraseña" id="contraseña" minlength="1">
            </div>

            <div>
                <a href="/"><input type="button" value="Enviar"></a>
            </div>

            <div>
                <small> ¿No estas registrado? <a href="/register"> Registrate </a></small>
            </div>
        </form>

    </main>



    <footer class="footer">

        <section>

            <div class="footer__section__div">
                <i class="fa-regular fa-credit-card"></i>                
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>                
            </div>

        </section>

        <section>
            <div class="footer__section__div">
                <i class="fa-sharp fa-solid fa-gift"></i>                
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </section>

        <section>
            <div class="footer__section__div">
                     <i class="fa-solid fa-user-shield"></i>                
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </section>

        <section class="footer__section--copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
       
    </footer>
</body>
</html>