*{
    box-sizing: border-box;
    margin: 0%;
    font-family: var(--tipografia);
}

a{
    
    text-decoration: none;
    text-align: left;
    color: black;
}

h2{
    font-size: 24px;
    padding: 10px;
}

span{
    font-size: 16px;
}

h3{
    font-size: 16px;
/*     color: var(--grisOscuro); */
}

p{
    font-size: 18px;
}

span{
    color: var(--verde);
}

.producto__main h3{
/*     color: var(--grisClaro); */
    font-weight: 300;
    margin-top: 15px;
    display: none;
    }